/* You can add global styles to this file, and also import other style files */
body {
    background: #026bb1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #00a4cd, #026bb1);
    background: -moz-linear-gradient(left, #00a4cd, #026bb1);
    background: -o-linear-gradient(left, #00a4cd, #026bb1);
    background: linear-gradient(to right, #00a4cd, #026bb1);
}